spring:
  application:
    name: cart-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/cart-db
    username: admin
    password: 123
  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9090/realms/dev/protocol/openid-connect/certs

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: inventory-event-group
      properties:
        spring:
          json:
            trusted:
              packages: "*"
    listener:
      concurrency: 3 # Number of concurrent threads per listener container
      missing-topics-fatal: false # Do not fail if a topic does not exist

    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://test:test@localhost:8000/eureka